# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$default.py

# Temporary files, editor backups, and system files
*~
*.bak
*.swp
.DS_Store

# Distribution / packaging
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
*.egg-info/
.installed.cfg
*.egg
/htmlcov/

# Unit testing
.coverage
.tox

# Development artifacts
.ipynb_checkpoints # Jupyter Notebooks
